<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Área Profissional - New ONGs</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="profissional-body">

    <main class="profissional-page">

        <a href="/login" class="watch-back">
            ←
        </a>
    
        <div class="profissional-header">
    
            <div class="profissional-logo">
                <img
                    src="{{ url_for('static', filename='img/logo.png') }}"
                    alt="New ONGs"
                >
            </div>
    
            <h1>
                Área profissional
            </h1>
    
            <p>
                Escolha como você deseja acessar esta área.
            </p>
    
        </div>
    
    
        <div class="profissional-options">
    
            <a href="/login-profissional" class="professional-option">
    
                <div class="profissional-option-icon">
                    🩺
                </div>
    
                <div class="profissional-option-text">
    
                    <h2>
                        Sou profissional
                    </h2>
    
                    <p>
                        Acesso destinado aos profissionais
                        responsáveis pelo conteúdo.
                    </p>
    
                </div>
    
                <span class="profissional-arrow">
                    →
                </span>
    
            </a>
    
    
            <a href="{{url_for('admin_login') }}" class="profissional-option">
    
                <div class="profissional-option-icon">
                    🔐
                </div>
    
                <div class="profissional-option-text">
    
                    <h2>
                        Sou administrador
                    </h2>
    
                    <p>
                        Acesso destinado à administração
                        do New ONGs.
                    </p>
    
                </div>
    
                <span class="profissional-arrow">
                    →
                </span>
    
            </a>
    
        </div>
    
    </main>

</body>

</html>